<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVehicleService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61475/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IVehicleService" contract="VehicleService.IVehicleService"
                name="BasicHttpBinding_IVehicleService" />
        </client>
    </system.serviceModel>
</configuration>